@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.react-app {
  font-family: 'Open Sans'
}

.search-results {
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.search-form {
  width:500px;
  margin:50px auto;
}

.search-bar {
  padding: 8px 15px;
  background: rgba(50, 50, 50, 0.2);
  border: 0px solid #dbdbdb;
}

.result-button {
  position: relative;
  padding: 6px 15px;
  border: 2px solid #207cca;
  background-color: #207cca;
  color: #fafafa
}

.result-button:hover {
  background-color: #fafafa;
  color: #207cca;
}

.county-table {
  margin: auto;
  padding-left: 50px;
}

.emission-stats {
  list-style-type: none;
}

.stat {
  float: left;
  min-height: 1px;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  position: relative;
  width: 25%;
}
